section.about.section
    div.container
        div.row
            div.col-sm-12.col-lg-6
                div.about__img
                    img(src="./assets/image/about.png", alt="...")
            div.col-sm-12.col-lg-6
                div.about__text
                    h2.about__title Your faithful partners Medical Goods
                    p.about__decs Houzez allow you to design unlimited panels and real estate custom forms to capture leads and keep record of all information
                    ul.about__list
                        li.about__item 
                            i.about__icon(class="fas fa-check-square") 
                            i.about__text  Better security for patient privacy and information.
                        li.about__item 
                            i.about__icon(class="fas fa-check-square") 
                            i.about__text  More products at lower prices.
                        li.about__item 
                            i.about__icon(class="fas fa-check-square")
                            i.about__text  Connect customers with the power of eCommerce at all.
                    div.about__info
                        ul.author-list
                            li.author-item 
                                div.author-img 
                                    img(src="./assets/image/author.jpg", alt="author")
                                div.author-name 
                                    h4 Jerry Henson
                                    small Medical Specialist
                            li.author-item
                                div.author-contact
                                    i(class="fa-solid fa-phone-volume") 
                                div.author-info
                                    small Get Support
                                    h4 123-456-789-10
                                