section.banner.section 
    div.container
        div.row.justify-content-center
            div.col-12.col-md-6.col-lg-4
                +salesItem("./assets/image/sale1.jpg")
            div.col-12.col-md-6.col-lg-4
                +salesItem("./assets/image/sale2.jpg")
            div.col-12.col-md-6.col-lg-4
                +salesItem("./assets/image/sale3.jpg")