section.camppaign
    div.container
        div.row
            div.col-12
                h4.camppaign__intro Todays Hot Offer
                h2.camppaign__title Free Covid-19 Vaccine <br> Campaign Ticket
                p.camppaign__decs Cur tantas regiones barbarorum obiit, tot maria transmist <br> summo bono fruitur id est voluptate barbarorum 
                div.camppaign__countdown
                    ul.container
                        li
                            span#days 
                            small Days
                        li
                            span#hours 
                            small Hrs
                        li
                            span#minutes 
                            small Mins
                        li
                            span#seconds 
                            small Secs
                div.camppaign__btn
                    a.btn(href="#!") Book Now
                    a.link(href="#!") Deal of The Day
            div.col