section.category.section
    div.container
        div.category__list.category-slick
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-notes-medical") 
                    span.category__text Best Deals
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-box-tissue") 
                    span.category__text Germs Pads
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-pump-medical" )
                    span.category__text Accessories
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-bong") 
                    span.category__text Medicine Cap
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-tooth") 
                    span.category__text Dental Item
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-microscope") 
                    span.category__text Best Deals
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-syringe") 
                    span.category__text All Products
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-stethoscope") 
                    span.category__text Germs Pads
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-hand-holding-medical") 
                    span.category__text Accessories
            div.category__slider    
                div.category__item 
                    span.category__icon
                        i(class="fas fa-procedures") 
                    span.category__text Medicine Cap