section.feature.section 
    div.container
        +title("Featured Products")
        div.row
            div.col-12.col-lg-3
                div.row
                    div.col-12.col-md-6.col-lg-12
                        +salesItem("./assets/image/feature-sale1.jpg")
                    div.col-12.col-md-6.col-lg-12
                        +salesItem("./assets/image/feature-sale2.jpg")
            div.col-12.col-lg-9
                div.row
                    div.col-6.col-md-4
                        +featureItem({
                            image:"./assets/image/product1.png",
                            name:"Antiseptic Spray",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"red",
                            rating:""
                        })
                    div.col-6.col-md-4
                        +featureItem({
                            image:"./assets/image/product2.png",
                            name:"Digital Stethoscope",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"red",
                            rating:""
                        })
                    div.col-6.col-md-4
                        +featureItem({
                            image:"./assets/image/product3.png",
                            name:"Cosmetic Containers",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"red",
                            rating:""
                        })
                    div.col-6.col-md-4
                        +featureItem({
                            image:"./assets/image/product4.png",
                            name:"Cosmetic Containers",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"red",
                            rating:""
                        })
                    div.col-6.col-md-4
                        +featureItem({
                            image:"./assets/image/product5.png",
                            name:"Blue Hand Gloves",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"red",
                            rating:""
                        })
                    div.col-6.col-md-4
                        +featureItem({
                            image:"./assets/image/product6.png",
                            name:"Thermometer Gun",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"red",
                            rating:""
                        })