footer.footer
    div.container 
        div.row   
            div.col-sm-12.col-md-6.col-xl-3
                div.footer__info
                    div.footer__logo 
                        img(src="./assets/image/logo.png", alt="logo")
                    p.footer__decs Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of the printing.
                    div.footer__address
                        ul
                            li
                                span.footer__icon 
                                    i(class="fa-solid fa-location-dot")
                                span.footer__text Brooklyn, New York, United States
                            li
                                span.footer__icon 
                                    i(class="fa-solid fa-phone-volume")
                                span.footer__text +0123-456789
                            li
                                span.footer__icon 
                                    i(class="fa-solid fa-envelope")
                                span.footer__text example@example.com
                    div.footer__social
                        ul
                            li(class="fa-brands fa-facebook-f") 
                            li(class="fa-brands fa-twitter") 
                            li(class="fab fa-linkedin") 
                            li(class="fab fa-youtube") 
            div.col-sm-12.col-md-6.col-xl-2
                div.footer__item
                    h4.footer__title Company
                    ul
                        li About
                        li Blog
                        li All Products
                        li Locations Map 
                        li FAQ
                        li Contact Us
            div.col-sm-12.col-md-6.col-xl-2
                div.footer__item
                    h4.footer__title Services
                    ul
                        li Order Tracking
                        li Wish List
                        li Login
                        li My Account 
                        li Terms & Conditions
                        li Promotional Offers
            div.col-sm-12.col-md-6.col-xl-2
                div.footer__item
                    h4.footer__title Customer Care
                    ul
                        li Order Tracking
                        li Wish List
                        li Login
                        li My Account 
                        li Terms & Conditions
                        li Promotional Offers
            div.col-sm-12.col-md-6.col-xl-3 
                div.footer__contact 
                    h4.footer__title Newsletter
                    p.footer__decs Subscribe to our weekly Newsletter and receive updates via email.
                    form(action="#")
                        input.footer__input(type="email" placeholder = "Email*")
                        button.footer__btn
                            i(class="fas fa-location-arrow")
                    h5 We Accept
                    img(src="./assets/image/payment.png", alt="payment")
    div.footer__bottom 
        div.row
            div.col-12.col-md-6
                div.copyright 
                    p All Rights Reserved @ Company 2023
            div.col-12.col-md-6 
                ul
                    li Terms & Conditions
                    li Claim
                    li Privacy & Policy