section.intro 
    div.container
        div.row
            div.col-lg-6
                div.intro__img
                    img(src="./assets/image/intro.png", alt="intro")
            div.col-12.col-lg-6
                h4.intro__intro N95 Facial Covering Mask
                h2.intro__title Grade A Safety Masks For Sale. Haurry Up!
                p.intro__decs Over 39,000 people work for us in more than 70 countries all over the This breadth of global coverage, combined with specialist services
                div.intro__menu.row
                    div.col-12.col-md-6
                        div.intro__item
                            span
                                i(class="fa-solid fa-house-circle-check") 
                            p Activated Carbon
                    div.col-12.col-md-6
                        div.intro__item
                            span
                                i(class="fa-solid fa-mountain") 
                            p Breathing Valve
                    div.col-12.col-md-6
                        div.intro__item
                            span
                                i(class="fa-solid fa-heart-circle-bolt") 
                            p 6 Layer Filteration
                    div.col-12.col-md-6
                        div.intro__item
                            span
                                i(class="fa-solid fa-file-shield") 
                            p Rewashes & Reusable