section.trending
    div.container
        +title("Trending Products")
        div.row
            div.col-6.col-md-4.col-lg-3
                +featureItem({
                            image:"./assets/image/trending1.png",
                            name:"Antiseptic Spray",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"green",
                            colorPrice:"green",
                        })
            div.col-6.col-md-4.col-lg-3
                +featureItem({
                            image:"./assets/image/trending2.png",
                            name:"Antiseptic Spray",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"green",
                            colorPrice:"green",
                        })
            div.col-6.col-md-4.col-lg-3
                +featureItem({
                            image:"./assets/image/trending3.png",
                            name:"Antiseptic Spray",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"green",
                            colorPrice:"green",
                        })
            div.col-6.col-md-4.col-lg-3
                +featureItem({
                            image:"./assets/image/trending4.png",
                            name:"Antiseptic Spray",
                            price:"$32.00",
                            sale:"$46.00",
                            colorSale:"green",
                            colorPrice:"green",
                        })
        div.row.justify-content-center
            div.col-12.col-md-6.col-lg-4
                +salesItem("./assets/image/trending-sale1.jpg")
            div.col-12.col-md-6.col-lg-4
                +salesItem("./assets/image/trending-sale2.jpg")
            div.col-12.col-md-6.col-lg-4
                +salesItem("./assets/image/trending-sale3.jpg")